<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qsmy.springboot.mapper1.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.qsmy.springboot.bean.Employee">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="d_id" jdbcType="INTEGER" property="d_id" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="last_name" jdbcType="VARCHAR" property="last_name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, d_id, email, gender, last_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from employee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from employee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qsmy.springboot.bean.Employee">
    insert into employee (id, d_id, email, 
      gender, last_name)
    values (#{id,jdbcType=INTEGER}, #{d_id,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{last_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qsmy.springboot.bean.Employee">
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="d_id != null">
        d_id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="last_name != null">
        last_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="d_id != null">
        #{d_id,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="last_name != null">
        #{last_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qsmy.springboot.bean.Employee">
    update employee
    <set>
      <if test="d_id != null">
        d_id = #{d_id,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="last_name != null">
        last_name = #{last_name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qsmy.springboot.bean.Employee">
    update employee
    set d_id = #{d_id,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      last_name = #{last_name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>